* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

div{
margin-left: 200px;
margin-right: 200px;
margin-top: 80px;
}

/* Navigation beginning */
nav{
    display: inline-block; 
    font-family: 'Poppins', sans-serif;
    background-color: #1C1C1D;
    width: 1440px;
    height: 80px;
    flex-shrink: 0;
    align-items:stretch;
    list-style: none;
    margin: 0;
    padding: 0;
}


li{
    float: left; list-style: none;
 }

li{
    padding: 16px;
} 

/* Navigation end */

/* Body beginning */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1C1C1D;
    color: #F5F5F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
/* body end */

h1 {
    font-size: 50px;
    margin-left: 0px;
    margin-right: 0px;
   text-align: center;
}

h2 {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
   text-align: center;
   font-weight: 400;
}

h3 {
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: left

}

h4 {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
   font-weight: 400;
}

a {
    font-size: 16px;
    align-items: left;
    text-decoration: underline;
    color: #F5F5F3;
}

a:hover {

    color: #0d0ddb;
}

p {
    font-size: 16px;
    align-items: left;
}

/* section beginning */
.content {
    display: flex;
    justify-content: left;
   /* align-items: center;*/
    margin-top: 25px;
    
  }
  
  .left {
    width: 45%;
  }
  
  .left img {
    max-width: 100%;
    height: auto;
    margin-right: 0px;
  }
  
  .right {
    font-size: 30px;
    margin-left: 20px;
    width: 45%;
    align-items: left;
  }

/* section end */